.content {
	margin-top: 220px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

#logo {
	width: 75%;
}

.navbar-header {
	height: 100px;
	padding-bottom: 40px;
}

.navbar-nav {
	margin-top: 30px;
}